development:
  adapter: postgresql
  encoding: utf8
  database: sample_app_dev
  username: elf
  password: elf
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: sample_app_test
  username: elf
  password: elf
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  database: sample_app_live
  username: elf
  password: elf
  host: localhost